

  .pic{
    background-image: url("/Users/swetashah/portfolio/src/background/background.webp");
    position: fixed ;
    height: 1500px ;
    width: auto;

  }


.about {
    /* background-color: transparent; */
    font-size: 1rem;

  }
 

  

  .image{
    height: 600px;
     width : 450px ;
     border: 1px solid #ddd ;
     border-radius: 6px;
    padding: 7px ;
    justify-content: end;
  }


  .line{
    line-height:2.1
  }

  .container {
    /* width: 100%;
    padding-right: 10px;
    padding-left: 15px;
    margin-right: 25px;
    margin-left: 25px;
    height: 100%; */
    display:flex;
    padding: 2em;
    padding-right: 4rem;
    align-content: center;

}




  




 



